global:
    loglevel: "INFO"
    nwsid: "UTC053"
databases:
    warehouse:
        schema: ""
        user: ""
        password: ""
        host: ""
        host_ro: ""
spillman:
    url: ""
    user: ""
    password: ""
